@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #181719;
}

.container {
    margin: 2rem 8rem;
    /* padding: 3rem; */
}

/* NavBar Start */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    text-transform: uppercase;
    border: 2px solid white;
    padding: 0.5rem;
    FONT-SIZE: .7rem;
    cursor: pointer;
}

.nav-links {
    display: flex;
    /* justify-content: space-around; */
}

.nav-links li {
    list-style: none;
    margin-left: 5rem;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    transition: 0.5s ease;
}

.nav-links li.active {

    border-bottom: 1px solid white;
}

.nav-links li a:hover {
    border-bottom: 1px solid white;

}
.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    display: none;
    cursor: pointer;
}
/* NavBar End */

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 6rem;
    flex-basis: 50%;
}

.text-container {
    color: white;
    width: 60%;
    /* margin-right: rem; */
    /* display: flex;
flex-direction: column;
justify-content: space-around; */

}

.text-container h1 {
    margin-bottom: 2rem;
    font-family: 'Montserrat';
}

.text-container p {
    margin-bottom: 2rem;
    width: 60%;
    max-width: 30rem;
}

.img-container {
    flex-basis: 50%;
    margin: auto;
    position: relative;
}
.img-container .room-img {
    width: 100%;
    min-width: 30rem;
    /* width: 10rem; */
    /* height:1rem ; */
}

.designer-info{
    position: absolute;
    background: #181719;
    padding: 2rem  ;
    max-width: 20rem;
     right: 2rem;
    bottom: -5rem; 
    /* border: 2px solid red; */
    color: white;
    box-shadow: black;
}

.info-top{
    display: flex;
align-items: center;
/* justify-content: space-evenly; */
margin-bottom: 1rem;
/* padding-left: 5rem; */
}
.designer-info img{
    border-radius: 50%;
    width: 2.5rem;
    margin-right: 1rem;
}
.footer{
    width: 100%;
    text-align: center;
    color: #A9A9A9;
    position: relative;
    top: 5rem;

}
.footer a{
    color: #787676;
}
@media screen and (max-width:1100px) {
    .container{
        margin: 2rem;
    }
    .hero-container{
        flex-wrap: wrap;
        flex-basis: 100%;
        align-items: baseline;
        /* padding-left: 5rem; */
    }
    .img-container .room-img{
        width: 100%;
        min-width: 40rem;
        /* max-width: 500rem; */
        margin-top: 2rem;
    }
    .text-container{
        width: 100%;
        min-width: 25rem;
    }
    .designer-info{
        width: 20rem;
    }
}
@media only screen and (max-width:850px)  {
    /* .container{
        margin: 2rem;
        padding: 2rem;
    } */
    .menu-btn{
        display: block;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background:#181719 ;
        margin-top: -900px;
        transition: all 0.5s ease;
    }
    .nav-links li{
        margin: 30px auto;
        font-size: 20px;
    }
    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-bar{
        padding: 0;
    }
    .img-container .room-img{
        width: 100%;
        min-width: 30rem;
        /* max-width: 500rem; */
        margin-top: 2rem;
    }
    .text-container{
        width: 100%;
        min-width: 15rem;
    }
    .designer-info{
        width: 15rem;
        font-size: small;
    }
}
@media  only screen and (max-width:600px) {
    .img-container .room-img{
        width: 100%;
        min-width: 20rem;
        /* max-width: 500rem; */
        margin-top: 2rem;
    }
    .text-container{
        width: 100%;
        min-width: 10rem;
    }
}